@model ProjetoCardapio.Models.Cliente

@{
    ViewData["Title"] = "Editar";
}

<h1 class="display-6 text-center">Clientes</h1>
<hr />
<h4>Editar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeDoCliente" class="control-label"></label>
                <input asp-for="NomeDoCliente" class="form-control" />
                <span asp-validation-for="NomeDoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDaMesa" class="control-label"></label>
                <input asp-for="NumeroDaMesa" class="form-control" />
                <span asp-validation-for="NumeroDaMesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-dark mt-3" />

                <a asp-action="Index" class="btn btn-dark mt-3">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
